{% extends 'appoint/base.html' %}


{% block content %}
{% if messages %}
<div class="card notification-card notification-invitation">
    <div class="card-body">
        {% for message in messages %}
        <div class="card-title">{{message}}</div>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>
                Журнал предварительной записи
            </h3>
            <p class="blue-text">Используйте эту форму для записи </p>
            <div class="card">
<form class="form-card" method="POST">
    {% csrf_token %}
    <div class="row justify-content-between text-left">
        <div class="col-md-6">
            <div class="form-group col-sm-6 flex-column d-flex">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group col-sm-6 flex-column d-flex">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
        </div>
    </div>

    <div class="row justify-content-between text-left">
        <div class="col-md-6">
            <div class="form-group col-sm-6 flex-column d-flex">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group col-sm-6 flex-column d-flex">
                {{ form.phone.label_tag }}
                {{ form.phone }}
            </div>
        </div>
    </div>

    <div class="row justify-content-between text-left">
        <div class="col-md-12">
            <div class="form-group col-12 flex-column d-flex">
                {{ form.request.label_tag }}
                {{ form.request }}
            </div>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="form-group col-12 flex-column d-flex">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </div>
</form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}